.row    
    .col-12 
        a(class="btn btn-primary m-1" href="/users/not-friend") List user
        a(class="btn btn-primary m-1" href="/users/friend") List friend 
        a(class="btn btn-primary m-1" href="/users/request") Invitation send
        a(class="btn btn-primary m-1" href="/users/accept") new invitation