extends ../../layout/default.pug
include ../../mixins/submenu.pug
include ../../mixins/alert.pug
block main 
    +alert-message(3000)
    +alert-error(3000)

    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1(class="text-center") Forgot password
                form(action="/user/password/otp" method="post")
                    .mb-3
                        label.form-label(for='email') Enter OTP here
                        input#email.form-control(type='text' name='email' value=email readonly required)
                        label.form-label(for='email') Enter OTP here
                        input#email.form-control(type='text' name='otp' aria-describedby='emailHelp' required)
                    button.btn.btn-primary(type='submit') Confirm